@font-face {
    font-family: "montserrat";
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "youngserif";
    src: url(YoungSerif-Regular.ttf);
}

body {
    background-color: midnightblue;
    font-family: "montserrat";
    font-size: 1.1em;
}

.index {
    display:flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: "youngserif";
    position: sticky;
    background-color: midnightblue;
}
.navbar > * {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.selected{
    background-color:midnightblue;
    padding: .5em 1em;
    border-radius: 10%;
    border: solid white;
    color: white;
}
.link{
    background-color:peachpuff;
    padding: .5em 1em;
    border-radius: 10%;
    border: solid black;
    color: black;
    text-decoration: none;
    transition: 500ms;
}
.link:hover{
    text-shadow: 0px 0px 10px black;
    color:white;
    background-color: midnightblue;
    border-color: white;
}
#profile {
    animation: fadeIn 2s;
    display:flex;
    justify-content: center;
    margin-top: 2vw;
    
}
#profile>img {
    max-width: 20%;
    border-radius: 5%;
    border: solid peachpuff 2px;
}
#details{
    display:flex;
    flex-direction: column;
    margin-left: 2vw;
    background-color: peachpuff;
    padding: 1vw 2vw;   
    border-radius: 5%;
    border: solid black 3px;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

.aboutmepage{
    display: flex;
    flex-direction: column;

}
.bio{
    animation: fadeIn 2s;
    display:flex; 
    flex-direction: column;
    background-color: peachpuff;
    padding: 2%;
    margin: 0 auto;
    margin-top: 2vw;
    max-width: 50vw;
    border-radius: 50px;
    border: solid black 3px;
}
h1{
    font-family: "youngserif";
}

div.bio {
    line-height: 130%;

}

.experience{
    margin-left: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 2s;
}
.intro{
    background-color: peachpuff;
    max-width: 50%;
    padding: 1%;
    border-radius: 15px;
    margin-top: 1%;
    border: solid black 3px;
}
.specificposting{
    display:flex;
    align-items: center;
    background-color: peachpuff;
    max-width: 60%;
    border-radius: 15px;
    padding: 1% 1% 1% 2%;
    margin: 2% 1% 1% 1%;
    border: solid black 3px;
}
.nameandyears{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.experiencedetails {
    justify-content: center;
    padding: 0px 3%;

}
.subtitle {
    font-weight: bold;
}
.portfolio{
    margin-left: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 2s;    
}
.intro > * {
    padding: 0px 3%;
}
.projects{
    display:flex;
    align-items: center;
    background-color: peachpuff;
    max-width: 60%;
    border-radius: 15px;
    padding: 1% 1% 1% 2%;
    margin: 2% 1% 1% 1%;
    border: solid black 3px;
}
.projectdetails{
    padding:0px 3%;
}
.projects > img {
    border-radius: 5px;
}
/*
